extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies quam semper, consectetur ipsum a, lacinia ex. Vestibulum vehicula risus sed neque scelerisque dapibus. Donec enim arcu, feugiat at fringilla quis, molestie eget dolor. Fusce rhoncus, nibh ut sodales iaculis, augue lacus placerat dolor, eu lacinia ligula tellus sed purus. 
                p Mauris sit amet lectus euismod, mollis nisi a, dapibus mauris. Curabitur feugiat ex ac erat egestas, at varius risus euismod. Sed et massa ut ligula condimentum rhoncus a et nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec purus risus, mollis a arcu et, porta consectetur massa. Nulla facilisi. Fusce feugiat convallis erat, vel viverra ante aliquet quis.
                p Sed massa enim, ultricies vel mollis vel, ultricies eu ex. Integer faucibus nisl id quam condimentum, et aliquam erat pellentesque.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Mauris sit amet lectus euismod, mollis nisi a, dapibus mauris. Curabitur feugiat ex ac erat egestas, at varius risus euismod.
                .col-md-4
                        img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Mauris sit amet lectus euismod, mollis nisi a, dapibus mauris. Curabitur feugiat ex ac erat egestas, at varius risus euismod.
                .col-md-4
                        img(src="img/icono_precios.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejor Precio
                        p Mauris sit amet lectus euismod, mollis nisi a, dapibus mauris. Curabitur feugiat ex ac erat egestas, at varius risus euismod.
